---
layout: default
---

<div id="site">
  {% include switch.html %}
  {% include intro.html %}
  {% include background.html %}
  {% include skills.html %}
  {% include experience.html %}
  {% include featured-projects.html %}
  {% include other-projects.html %}
  {% include footer.html %}
  {% include top-button.html %}
</div>
<script
    src='https://sleekflow.io/whatsapp-button.js'
    async
    onLoad="whatsappButton({
    buttonName:'Contact me',
    buttonIconSize: '22',
    brandImageUrl:'https://media.licdn.com/dms/image/D5603AQE0GrJMysjXfA/profile-displayphoto-shrink_200_200/0/1718769658798?e=1729123200&v=beta&t=rVJpw-mABFYX8aN-UdGlwFCDxz93t_ZlvbINx9TXxBM',
    brandName:'Jerome',
    brandSubtitleText:'Software Engineer',
    buttonSize:'medium',
    buttonPosition:'right',
    callToAction:'Start Chat',
    phoneNumber:'919884149885',
    welcomeMessage:'Hi there 👋',
    prefillMessage:'Hi Jerome, I would like to...',
    })"
    >
</script>
