<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm currently a Senior Software Engineer at
      <a class="underline-link" href="https://equiniti-india.com/" target="_blank">Equiniti</a>, building applications for the web with some awesome people. I graduated from
      <a class="underline-link" href="https://www.unom.ac.in/" target="_blank">Madras University</a> and then worked at various awesome companies like 
      <a class="underline-link" href="https://www.ozonemotors.in/" target="_blank">Ozone Motors</a>, an ambitious EV startup founded by 
      <a class="underline-link" href="https://www.linkedin.com/in/deepak-m-mohan/" target="_blank">Deepak Mohan</a>. At 
      <a class="underline-link" href="https://www.netmeds.com/" target="_blank">Netmeds</a>, a Reliance service, I worked during COVID-19 to help people with online consultations and diagnostics. Most recently, at 
      <a class="underline-link" href="http://gomechanic.in" target="_blank">GoMechanic</a>, I optimized the application.
    </p>
    
    <p>
      As a software engineer, I enjoy bridging the gap between engineering and great ideas &mdash; combining my technical knowledge
      with my keen eye for software architecture to create a beautiful product. My goal is to always build applications that are scalable
      and efficient under the hood.
    </p>

    <p>
      <strong>When I'm not in front of a computer screen</strong>, I'm probably playing games and catching up with people to stay
      in touch with reality and life.
    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>
