<section class="section featured-projects">
  <div class="section__title">Featured Projects</div>
  <div class="section__content">
    <div class="project equiniti">
      <figure class="project__pic">
        <a href="https://equiniti.com/" target="_blank">
          <img src="{{site.baseurl}}/img/featured/eq/equiniti.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://equiniti.com/" target="_blank">equiniti</a>
        </div>
        <p>Custom wordpress theme built with Timber and Woocommerce for equiniti, the only reactive shoe insert that prevents
          blisters from forming.</p>
      </figcaption>
    </div>

    <div class="project gomechanic">
      <figure class="project__pic">
        <a href="https://equiniti.com/" target="_blank">
          <img src="{{site.baseurl}}/img/featured/gomechanic/gom.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://equiniti.com/" target="_blank">equiniti</a>
        </div>
        <p>Custom wordpress theme built with Timber and Woocommerce for equiniti, the only reactive shoe insert that prevents
          blisters from forming.</p>
      </figcaption>
    </div>

    <div class="project ozone">
      <figure class="project__pic">
        <a href="https://equiniti.com/" target="_blank">
          <img src="{{site.baseurl}}/img/featured/ozone/ozone.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://equiniti.com/" target="_blank">equiniti</a>
        </div>
        <p>Custom wordpress theme built with Timber and Woocommerce for equiniti, the only reactive shoe insert that prevents
          blisters from forming.</p>
      </figcaption>
    </div>

    <div class="project netmeds">
      <figure class="project__pic">
        <a href="https://equiniti.com/" target="_blank">
          <img src="{{site.baseurl}}/img/featured/netmeds/netm.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://equiniti.com/" target="_blank">equiniti</a>
        </div>
        <p>Custom wordpress theme built with Timber and Woocommerce for equiniti, the only reactive shoe insert that prevents
          blisters from forming.</p>
      </figcaption>
    </div>
  </div>
</section>
