<section class="section featured-projects">
  <div class="section__title">Featured Projects</div>
  <div class="section__content">
    <div class="project equiniti">
      <figure class="project__pic">
        <a href="https://equiniti.com/" target="_blank">
          <img src="{{site.baseurl}}/img/featured/eq/equiniti.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://equiniti.com/" target="_blank">Equiniti</a>
        </div>
        <p>EQ is the leading provider of professional shareholder, pension, and remediation services in the UK and the second largest in the US. </p>
      </figcaption>
    </div>

    <div class="project netmeds">
      <figure class="project__pic phones">
        <a href="https://play.google.com/store/apps/details?id=com.NetmedsMarketplace.Netmeds" target="_blank">
          <div class="phone">
            <img src="{{site.baseurl}}/img/featured/netmeds/1.png" alt="">
          </div>
          <div class="phone">
            <img src="{{site.baseurl}}/img/featured/netmeds/2.png" alt="">
          </div>
          <div class="phone">
            <img src="{{site.baseurl}}/img/featured/netmeds/3.png" alt="">
          </div>
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://play.google.com/store/apps/details?id=com.NetmedsMarketplace.Netmeds" target="_blank">Netmeds</a>
        </div>
        <p>Netmeds is an online pharmacy in India that offers medicines, healthcare products, and medical services delivered to your doorstep.</p>
      </figcaption>
    </div>

    <div class="project ozone">
      <figure class="project__pic">
        <a href="https://www.ozonemotors.in/" target="_blank">
          <img src="{{site.baseurl}}/img/featured/ozone/ozone.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://www.ozonemotors.in/" target="_blank">Ozone Motors</a>
        </div>
        <p>IOzone Motors focuses on customizable modular electric vehicle platforms, allowing for flexible and tailored EV solutions.</p>
      </figcaption>
    </div>

    <div class="project gomechanic">
      <figure class="project__pic phones">
        <a href="https://play.google.com/store/apps/details?id=gomechanic.retail" target="_blank">
          <div class="phone">
            <img src="{{site.baseurl}}/img/featured/gomechanic/1.png" alt="">
          </div>
          <div class="phone">
            <img src="{{site.baseurl}}/img/featured/gomechanic/2.png" alt="">
          </div>
          <div class="phone">
            <img src="{{site.baseurl}}/img/featured/gomechanic/3.png" alt="">
          </div>
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://play.google.com/store/apps/details?id=gomechanic.retail" target="_blank">GoMechanic</a>
        </div>
        <p>GoMechanic is an online platform in India that offers car repair and maintenance services, including doorstep service, through a network of workshops.</p>
      </figcaption>
    </div>
  </div>
</section>
